<div class="card" style="margin-top: 8rem; width: 450px; margin-left: 35rem;">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="signInForm">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Username</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="username">
              
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
            </div>

            <button type="submit" class="btn btn-primary"  style="margin-left: 160px;">Submit</button>
            <p style="text-align: center; margin-top: 20px;">
              <span style="color: #888;">Not a Member</span>
              <a routerLink="/signup" style="margin-left: 10px; color: #3498db; text-decoration: none; font-weight: bold;">
                  Register here
              </a>
          </p>
        </form>
  </div>
</div>